/backend/.env
/frontend/node_modules/
/backend/*.bak
/backend/*.dat
/backend/*.dir
/.mypy_cache/
/backend/static/
/backend/src/*.bak
/backend/src/*.dat
/backend/src/*.dir
/backend/src/sql_app.db
/backend/src/static
__pycache__
/backend/app/static
/frontend/.angular/
/frontend/.angular
