select:hover{
    outline:none;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.topnav__filter__wrapper{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort{
    display: inline-block;
    padding: 7px 3px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(245, 245, 245);
    font-size: 13px;

    option{
        background-color: white;

        a{
            padding: 7px 3px;
        }
    }
}