<app-topnav></app-topnav>

<div class="redirect__wrapper">
    <app-redirect-toolbar [refs]="refs"></app-redirect-toolbar>
</div>

<main *ngIf="product !== undefined">
    <div class="images">
        <div class="microimgs">
            <div *ngFor="let image of product.images; index as index">
                <img [ngClass]="{visible: visibleImageId == index}" [src]="image"/>
            </div>
        </div>

        <div class="demo">
            <div *ngFor="let image of product.images; index as index">
                <img isVisible [imageId]="index" [src]="image"/>
            </div>
        </div>
    </div>

    <div class="description">
        <a class="name">{{ product.name }}</a>
        <a class="text__description">{{ product.description }}</a>
        <a style="font-size: 15px">Доступные размеры</a>

        <div class="sizes__wrapper">
            <div *ngFor="let size of product.sizes" class="form_radio_btn">
                <input [checked]="size === chosedSize.getValue()" (click)="changeSize($event)" id="radio- + {{ size }}" type="radio" value="{{ size }}" />
                <label for="radio- + {{ size }}">{{ size }}</label>
                <span class="tooltiptext">В наличие: онлайн, офлайн</span>
            </div>
        </div>

        <hr/>
        <a class="price">{{ product.price }} $</a>
        <button fadeIn *ngIf="!cartService.isInCart(cartProduct)" class="black__button" (click)="addToCart()">Добавить в корзину <span>{{ chosedSize.getValue() }}</span></button>

        <div *ngIf="cartService.isInCart(cartProduct) && cartProduct !== undefined">
            <div @fadeIn class="quantity">
                <div (click)="cartService.decrement(cartProduct)" class="decrement">
                    <img src="../../../assets/img/minus.png" />
                </div>

                <a>{{ cartProduct.quantity }} в корзине</a>

                <div (click)="cartService.increment(cartProduct)" class="increment">
                    <img src="../../../assets/img/plus.png" />
                </div>
            </div>

            <button (click)="cartService.openSnackBar()" @fadeIn class="black__button" style="padding: 15px 0px;" >Оформить заказ</button>
        </div>

        <a style="margin-top: 20px; margin-bottom: 10px;">Доступные расцветки</a>
        <div *ngIf="colors$ | async as colors" style="display: flex; justify-content: center;">
            <a *ngFor="let colorProduct of colors" href="product/{{colorProduct.id}}">
                <img [ngClass]="{current__color: product.id === colorProduct.id}" class="color__product" [src]="colorProduct.image"/>
            </a>
        </div>

        <hr />
        <div appCopyText [cdkCopyToClipboard]="product.article" class="option">
            <div>
                <a><small>Артикул</small></a>
                <a>{{ product.article }}</a>
            </div>
            <img src="../../../assets/img/copy.png"/>

            <span class="tooltiptext">Текст скопирован!</span>
        </div>
        <hr />
        <div appCopyText [cdkCopyToClipboard]="product.code" class="option">
            <div>
                <a><small>Код товара</small></a>
                <a>{{ product.code }}</a>
            </div>
            <img src="../../../assets/img/copy.png"/>

            <span class="tooltiptext">Текст скопирован!</span>
        </div>
        <hr />
        <div *ngIf="!favsService.isInFavs(product.id)" (click)="addToFavs()" class="option" >
            <a>В избранное</a>
            <img src="../../../assets/img/star.png" />
        </div>

        <div *ngIf="favsService.isInFavs(product.id)" (click)="removeFromFavs()" class="option" >
            <a>В избранное</a>
            <img style="filter: brightness(0%)" src="../../../assets/img/star.png" />
        </div>
        <hr />
        <div class="option">
            <a>Доставка и оплата</a>
        </div>
        <hr />
        <div class="option">
            <a>Возврат</a>
        </div>
        <hr />
        <div class="option">
            <a>Описание</a>
        </div>

        <div class="infoss">
            <input id="infoss__body_1" class="infoss__switch" type="checkbox">
            <label for="infoss__body_1" class="infoss__headline">+</label>
            <div class="infoss__body">
                <a>-Материал: Верх - кожа, замша;</a><br>
                <a>Подкладка - текстиль, кожа; Низ - резина</a><br>
                <a>-Страна-производитель: Словакия</a><br>
            </div>
        </div>
    </div>
</main>

<div *ngIf="products$ | async as products" [ngClass]="{products__wrapper: true}">
    <app-paginate-component [title]="'Вам так же может понравится'" [objects]="products.slice(0, 20)">
    </app-paginate-component>
</div>

<app-footer></app-footer>
