.microimgs{
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    img{
        border-radius: 5px;
        margin-bottom: 20px;
        pointer-events: none;
        width: 50px;
        transition: .2s;
    }

    .visible{
        box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .1);
    }
}

.redirect__wrapper{
    margin-top: 100px;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 50px;
}

.demo{
    width: 47vw;
    margin-left: 150px;

    img{
        pointer-events: none;
        width: 100%;
    }
}

main{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-left: 2%;

    .images{
        display: flex;
    }
}

.products__wrapper{
    width: 90%;
    margin-left: 5%;
}

.description_wrapper{
    width: 28%;
}
