<app-topnav></app-topnav>

<div class="redirect__wrapper">
    <app-redirect-toolbar [refs]="refs"></app-redirect-toolbar>
</div>

<main *ngIf="product !== undefined">
    <div class="images">
        <div class="microimgs">
            <div *ngFor="let image of product.images; index as index">
                <img [ngClass]="{visible: visibleImageId == index}" [src]="image"/>
            </div>
        </div>

        <div class="demo">
            <div *ngFor="let image of product.images; index as index">
                <img isVisible [imageId]="index" [src]="image"/>
            </div>
        </div>
    </div>

    <app-product-description [ngClass]="{description_wrapper: true}" [product]="product"></app-product-description>
</main>

<div *ngIf="products$ | async as products" [ngClass]="{products__wrapper: true}">
    <app-paginate-component [title]="'Вам так же может понравится'" [objects]="products.slice(0, 20)">
    </app-paginate-component>
</div>

<app-footer></app-footer>
