.description {
    position: sticky;
    top: 100px;
    text-align: center;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-self: flex-start;
    padding: 30px;
    padding-bottom: 100px;
    box-sizing: border-box;

    a{
        display: block;
    }

    hr{
        border: 1px solid rgb(240, 240, 240);
    }

    .price{
        font-size: 22px;
        color: black;
    }

    .sizes__wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 10%;
        justify-content: center;
        margin-top: 10px;

        .form_radio_btn {
            width: 25%;
            margin-right: 0px;
            position: relative;

            input{
                display: none;

                &:checked + label {
                    background-color: rgb(10, 10, 10);
                    color: white;
                }
            }

            label {
                display: inline-block;
                cursor: pointer;
                padding: 10px 0px;
                line-height: 15px;
                font-size: 13px;
                width: 95%;
                border: 1px solid #999;
                border-radius: 6px;
                user-select: none;
                border: none;
                background-color: rgb(230, 230, 230);
                margin-right: 0px;

                &:hover {
                    color: #666;
                }
            }

            &:hover{
                .tooltiptext {
                    opacity: 1;
                }
            }
        }
    }

    .option{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        cursor: pointer;

        a{
            transition: .2s;
        }

        img{
            width: 20px;
            height: 20px;
            transition: .2s;
        }

        &:hover{
            a{
                color: rgb(220, 220, 220);
            }

            img{
                filter: brightness(0%);
            }
        }
    }

    small{
        color: lightgray;
    }

    .text__description{
        color: lightgray;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .name{
        font-size: 25px;
    }

    .quantity{
        background-color: rgb(230, 230, 230);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;

        .increment, .decrement{
            border-radius: 5px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            transition: .2s;
            cursor: pointer;

            &:hover{
                background-color: rgb(210, 210, 210);
            }
        }

        .increment, .decrement{
            img{
                width: 25px;
                height: 25px;
            }
        }
    }


    .infoss{
        position: absolute;
        width: 100%;

        label{
            position: absolute;
            float: right;
            top: -20px;
            right: 75px;
        }
    }

    .infoss__switch {
        display: none;
        width: 100%;
    }

    .infoss__body {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
        width: 280px;

    }

    .infoss__switch:checked~.infoss__body {
        max-height: 150px;
        width: 80%;
    }

    .infoss__headline {
        display: block;
        position: relative;
        margin-bottom: 15px;
        color: #39739d;
        cursor: pointer;
    }

    .current__color{
        border: 1.5px solid black;
    }

    .color__product{
        width: 45px;
        height: 45px;
        border-radius: 6px;
        margin: 6px;
        margin-right: 3px;
        cursor: pointer;
    }

    .tooltiptext {
        opacity: 0;
        transition: .2s;
        width: 160px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        margin-left: -80px;
        font-size: 12px;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }
}
