p{
    text-align: center;
}

.title{
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}

main{
    padding-top: 150px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}